.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }
  
  .slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
  }
  .slick-prev:before,.slick-next:before {
    color: red;
  }